.slideUp {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.slideDown {
    max-height: fit-content;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}
