.recharts-legend-wrapper {
    display: none;
}
.recharts-cartesian-axis-ticks {
    font-weight: bold;
}
.best-seller-imgs {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}
.customer-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.circle {
    width: 8px;
    height: 8px;
}